body::-webkit-scrollbar {
    width: 8px;
    background-color: #343a40;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(40, 167, 69, .8);
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background-color: #2a3742;
    width: 15px;
}
.aparecer-enter{
    opacity: 0;
}
.aparecer-enter-active {
    transition: opacity 1s;
}
.aparecer-leave-to {
    opacity: 0;
}
.aparecer-leave-active {
    transition: opacity 1s;
}